<main *ngIf="table" class="ms-auto col-11 px-4">
    <div class="d-flex justify-content-between align-items-center pt-2">
        <h5 class="h5">{{table.name}}</h5>
        <div class="col-2 btn-group mb-2">
            <button (click)="uploader.click()" class="btn btn-sm btn-light btn-outline-dark shadow-none">Import CSV</button>
            <button (click)="exportCsv()" class="btn btn-sm btn-light btn-outline-dark shadow-none">Export CSV</button>
        </div>
    </div>

    <input hidden type="file" #uploader (change)="importCsv($event)" />

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <!-- <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th *ngFor="let field of table.fields">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of table.rows">
                    <td *ngFor="let cell of row">{{cell}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
</main>