<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="https://www.xertocsv.com/">XER to CSV</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button (click)="uploader.click()" class="btn btn-sm btn-dark btn-outline-light">Import XER</button>
    </li>
  </ul>
</header>

<input hidden type="file" #uploader (change)="getFile($event)" />

<div class="content" role="main">
  <app-sidebar [tables]="tables"></app-sidebar>
</div>