<header class="navbar navbar-dark sticky-top bg-dark p-0 shadow">
  <a class="navbar-brand col-1 me-0 px-3" href="https://www.xertocsv.com/">XER to CSV</a>
  <div class="col-11 d-flex px-4">
    <div class="ms-auto col-2 btn-group">
      <button (click)="uploader.click()" class="btn btn-sm btn-dark btn-outline-light">Import XER</button>
      <button (click)="exportXer()" class="btn btn-sm btn-dark btn-outline-light">Export XER</button>
    </div>
  </div>
</header>

<input hidden type="file" #uploader (change)="importXer($event)" />

<div class="content" role="main">
  <app-sidebar [tables]="tables"></app-sidebar>
</div>